.tg-chat-content {
    max-width: 840px;
    margin: 0 auto;
    height: 100%;
}

.tg-chat-content-header {
    height: 61px;
    border-bottom: 1px solid #DADCE0;
    border-left: 1px solid #DADCE0;
    border-right: 1px solid #DADCE0;
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed;
    width: 840px;
    margin: 0 auto;
    z-index: 1;
}

.tg-chat-content-header > .tg-chat-list-item-photo {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 16px;
    height: 44px;
    width: 44px;
}

.tg-chat-content-header .tg-chat-list-item-message.online {
    color: #30A3E6;
}

.tg-chat-content-header > .tg-chat-list-item-photo.empty {
    background-color: #DADCE0;
}

.tg-chat-content-content {
    max-width: 698px;
    margin: 0 auto;
    padding-top: 71px;
}

.tg-chat-message {
    margin-bottom: 10px;
    border-radius: 10px;
    clear: both;
}

.tg-chat-message-inner {
    display: inline-block;
    position: relative;
    padding: 10px;
}


.tg-chat-message-content {
    position: relative;
    padding-right: 8px;
    font-size: 16px;
    line-height: normal;
}

.tg-chat-message-bubble {
    position: absolute;
    top: 0;
    left: -20px;
    color: white;
}

.tg-chat-message.user.output .tg-chat-message-bubble {
    transform: scale(-1, 1);
    left: -10px;
    color: #EEFFDE;
}

.tg-chat-message-sub-info {
    white-space: nowrap;
    float: right;
    color: rgb(170,179,187);
    font-size: 12px;
    position: relative;
    margin-left: 8px;
    top: 6px;
    display: flex;
    align-items: center;
}

.tg-shat-message-sub-info-item {
}

.tg-chat-message-sub-info-item.message-sent {
    color: rgb(170,179,187);
    top: 2px;
    position: relative;
}

.tg-chat-message-sub-info-item.message-sent.done {
    color: #4FAF4E;
}

.tg-chat-message.user.output .tg-chat-message-sub-info {
    color: #4FAF4E;
}

.tg-chat-message.user.output,
.tg-chat-message.chat.output {
    margin-left: 96px;
    margin-right: 0;
    float: right;
}

.tg-chat-message.user,
.tg-chat-message.chat {
    margin-left: 0;
    margin-right: 96px;
    float: left;
}

.tg-chat-message.chat {
    margin-left: 0;
    margin-right: 96px;
    float: left;
}

.tg-chat-list-item-subscribers {
    font-size: 14px;
}

.tg-chat-message-sender {
    position: relative;
    color: #4EA4F6;
    margin-bottom: 2px;
}

.tg-chat-message.chat .tg-chat-message-content {
    font-size: 16px;
    line-height: normal;
}
