.tg-chat-content {
    max-width: 840px;
    margin: 0 auto;
    border-left: 1px solid #DADCE0;
    border-right: 1px solid #DADCE0;
    height: 100%;
}

.tg-chat-content-header {
    height: 61px;
    border-bottom: 1px solid #DADCE0;
    background-color: white;
    display: flex;
    align-items: center;
}

.tg-chat-content-header > .tg-chat-list-item-photo {
    margin-top: 0;
    margin-left: 20px;
    height: 44px;
    width: 44px;
}

.tg-chat-content-header > .tg-chat-list-item-photo.empty {
    background-color: #DADCE0;
}
