* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  font: 14px/18px Roboto,sans-serif,Arial,Helvetica;
  overflow-y: scroll;
  height: 100%
}

input {
  font-family: Roboto,sans-serif,Arial,Helvetica;
}
